APP_BASE_URL=http://localhost:8000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SESSION_SECRET=change-this-for-production

AZURE_OPENAI_ENDPOINT=https://ai-poc-bot.services.ai.azure.com/openai/v1
AZURE_OPENAI_API_KEY=<your-api-key>
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_DEPLOYMENT=gpt-oss-120b

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_AGENT_NAME=technical-interviewer
LIVEKIT_INFERENCE_STT_MODEL=deepgram/flux-general-en
LIVEKIT_INFERENCE_STT_LANGUAGE=en
LIVEKIT_INFERENCE_LLM_MODEL=openai/gpt-oss-120b
LIVEKIT_INFERENCE_TTS_MODEL=cartesia/sonic-3
LIVEKIT_INFERENCE_TTS_VOICE=9626c31c-bec5-4cca-baa8-f8ba9e84c8bc
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
